.EmployeeShifts {
  border-spacing: 0;
  width: 100%;
  margin-top: 24px;
}

.EmployeeShifts th,
.EmployeeShifts td {
  padding: 8px;
}

.EmployeeShifts thead th,
.EmployeeShifts tbody td {
  background-color: #fff;
}

.EmployeeShifts thead th {
  border-top: 1px solid #C7D0D9;
  font-weight: bold;
}

.EmployeeShifts thead th:first-child,
.EmployeeShifts tbody td:first-child {
  border-left: 1px solid #C7D0D9;
}

.EmployeeShifts thead th,
.EmployeeShifts tbody td {
  border-bottom: 1px solid #C7D0D9;
  border-right: 1px solid #C7D0D9;
}

.formRow {
  margin-bottom: 18px;
}

.formRow label {
  display: block;
}

.formRow label span {
  display: inline-block;
  font-weight: bold;
  width: 120px;
}

.formBtnRow {
  margin-top: 24px;
  padding-left: 120px;
}
